body {
    background-color: black;
}

<<<<<<< HEAD
.img-pri{
    align: center;
    width: 1320px;
    height: 350px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login{
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000000;
    padding: 20px 30px;
    border-top: 4px solid #5F9EA0;
    color: #566573;
}

.form-login h1{
    margin-top: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    
}

.form-login a.sesion{
    font-weight: 600;
}

.form-login a.iniciar{
    font-weight: lighter;
    opacity: .8;
}
=======
.trap {
    background-color: black;
}
>>>>>>> 391f3fdb0595ed9f4bf9538ec141e95cfadff6ae
