body {
    background-color: black;
}

.img-pri {
    align: center;
    width: 1320px;
    height: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000000;
    padding: 20px 30px;
    border-top: 4px solid #5F9EA0;
    color: #566573;
    border-radius: 10px;
}

.form-login h1 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    opacity: .8;
}

.controles {
    width: 100%;
    border: 1px solid #A2D9CE;
    margin-bottom: 15px;
    padding: 11px 10px;
    border-radius: 10px;
}

p.titulos {
    font-size: 14px;
    font-weight: bold;
    font: gray;
    opacity: .7;
}

#boton {
    color: #5F9EA0;
    border-color: #5F9EA0;
}

#olvide {
    color: #5F9EA0;
}

.navbar {
    color: #5F9EA0 !important;
}